.env
/target
Cargo.lock
agent.wasm
llama-chat.wasm
Meta-Llama-3-8B-Instruct-Q5_K_M.gguf
gemma-2b-it-Q5_K_M.gguf
/api-server
/assets
/chat
agent/target
agent/.env
agent/Cargo.lock
tinyllama-1.1b-2.5t-chat-and-function-calling.Q8_0.gguf
autogen_rust.wasm